.words{
    background-color: #C9BBCF;
    padding: 50px;
    text-align: center;
    margin: 20px 0;
    box-shadow: 10px 10px 20px rgba(158, 143, 143, 0.2);
}

.words h2{
    font-size: 2rem;
    color: #FFFFD0;
    text-align: center;
}

.words a{
    font-size: 2rem;
    text-decoration: none;
    color: #091057;
    background-color: #FFF1DB;
    padding: 10px;
    text-align: center;
    border-radius: 20px;
    transition: background-color 0.4s ease;
    display: inline-block;
    margin-top: 10px;
}

.words a:hover{
    background-color: #E4C087;
}

.word{
    background-color: #F3F3E0;
    width: 100%;
    max-width: 1000px;
    margin: 30px auto;
    padding: 20px;
    border-radius: 10px;
    text-align: left;
}

.word h5{
    font-size: 2rem;
    font-weight: 300;
}

.word p{
    color: #789DBC;
    margin-bottom: 20px;
}

.word button{
    text-decoration: none;
    color: #FFFECB;
    padding: 10px 30px;
    background-color: #789DBC;
    border-radius: 10px;
    transition: background-color 0.3s ease;
    font-size: 1.2rem;
    outline: none;
    border: none;
    cursor: pointer;
}

.word button:hover{
    background-color: #A2D2DF;
}

.container{
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}

.unknown-box{
    background-color: rgba(158, 143, 143, 0.7);
    backdrop-filter: blur(12px);
    width: 1200px;
    height: 500px;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.unknown-box h1{
    font-size: 2rem;
    font-weight: 400;
}

.unknown-box button{
    width: 100px;
    padding: 10px;
    outline: none;
    border: none;
    border-radius: 10px;
    background-color: #CBDCEB;
    color: #133E87;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

.unknown-box button:hover{
    background-color: #4A628A;
}