{% extends "base.html" %}
{% load static %}

{% block style %} {% static 'pages/home.css' %} {% endblock style %}

{% block content %}

    <div class="triangle"></div>
    <div class="circle"></div>

    <main class="main">

        <h2>All Boxes</h2>
        <div class="boxes">
            <ul>
                <a href="{% url 'boxes:boxes_view' 1 %}"><li>Box Level One({{ number1 }}/1)</li></a>
                <a href="{% url 'boxes:boxes_view' 2 %}"><li>Box Level Two({{ number2 }}/2)</li></a>
                <a href="{% url 'boxes:boxes_view' 3 %}"><li>Box Level Three({{ number3 }}/4)</li></a>
                <a href="{% url 'boxes:boxes_view' 4 %}"><li>Box Level Four({{ number4 }}/8)</li></a>
                <a href="{% url 'boxes:boxes_view' 5 %}"><li>Box Level Five({{ number5 }}/15)</li></a>
            </ul>
        </div>

        <div class="shift">
            <a href="{% url 'boxes:shift' %}">Read Boxes</a>
            <a href="{% url 'boxes:read_box' %}">Words are readed</a>
        </div>

    </main>
    
{% endblock content %}