{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leitner</title>
    <link rel="stylesheet" href="{% static 'base.css' %}">
    <link rel="stylesheet" href="{% block style %}{% endblock style %}">
</head>
<body>

    {% include "inc/message.html" %}

    <header class="header">

        <a href="{% url 'pages:home' %}"><h1>Leitner Box</h1></a>

        <div class="box">
            <a href="{% url 'boxes:add_box' %}">Add Box Word</a>
        </div>

    </header>

    {% block content %}
    {% endblock content %}
    
</body>
</html>