{% extends "base.html" %}
{% load static %}

{% block style %}{% static "boxes/box_word.css" %}{% endblock style %}

{% block content %}

    {% if words %}
    <div class="words">
        <h2>All Words</h2>
        {% for word in words %}
        <div class="words-box">
            <h4>{{ word }}</h4>
            <p>{{ word.definition|safe }}</p>
            <div class="examples">
                <h3>Example:</h3>
                <p>{{ word.example|safe }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
        <h1 class="no-word">There is no Word in this box</h1>
    {% endif %}

    <div class="options">
        <a href="{% url 'boxes:add_word' id %}" class="add">Add New Word</a>
        <a href="{% url 'boxes:remove_box' id %}" class="remove">Delete</a>
    </div>

{% endblock content %}