{% extends "base.html" %}
{% load static %}

{% block style %} {% static "boxes/boxes.css" %} {% endblock style %}

{% block content %}

    <h1 class="box-level">Boxes in Level {{ id }}</h1>

    {% if words %}
    <div class="container">
        {% for word in words %}
        <div class="word-box">
            <h3>The Box number {{ forloop.counter }}</h3>
            {% if word %}
                {% for w in word %}
                <div class="word-detail">
                    <h5>{{ w.name }}</h5>
                    <p>{{ w.example|safe }}</p>
                    <a href="{% url 'boxes:edit_word' w.id id %}" class="edit">Edit</a>
                    <a href="{% url 'boxes:delete_word' w.id %}" class="remove">Remove</a>
                </div>
                {% endfor %}
            {% else %}
                <h2>There is no word in this box</h2>
            {% endif %}
        </div>
        {% endfor %}
    </div>
    {% else %}

    <div class="empty">
        <h2>This Box is Empty</h2>
    </div>

    {% endif %}

    {% for b in box %}

    <a href="{% url 'boxes:box_detail' b.id %}" class="click-box"> Box {{ forloop.counter }} </a>

    {% endfor %}

{% endblock content %}