{% extends "base.html" %}
{% load static %}

{% block style %} {% static "boxes/boxes.css" %} {% endblock style %}

{% block content %}

    <h1>Boxes in Level {{ id }}</h1>

    {% if words %}
    <div class="container">
        {% for word in words %}
        <div class="word-box">
            <h3>The Box number {{ forloop.counter }}</h3>
            {% for w in word %}
            <div class="word-detail">
                <h5>{{ w.name }}</h5>
                <p>{{ w.example }}</p>
                <p>{{ w.definition }}</p>
                <a href="{% url 'boxes:edit_word' w.id id %}" class="edit">Edit</a>
                <a href="{% url 'boxes:delete_word' w.id %}" class="remove">Remove</a>
            </div>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
    {% else %}

    <div class="empty">
        <h2>This Box is Empty</h2>
    </div>

    {% endif %}

    {% for b in box %}

    <a href="{% url 'boxes:box_detail' b.id %}"> box {{ b.id }} </a>

    {% endfor %}

{% endblock content %}